{{- $gemail := promptStringOnce . "gemail" "Email github email" -}}
{{- $guser := promptStringOnce . "guser" "Enter github username" -}}

diff:
  exclude: ["scripts"]

edit:
  command: "nvim"

data:
  guser: {{ $guser }}
  gemail: {{ $gemail }}

