[user]
  email = {{ .gemail }}
  name = {{ .guser }}
  signingkey = {{ .gsignkey }}

[core]
  editor = nvim
  excludesfile = ~/.gitignore

[alias]
  b = branch
  co = checkout
  lg = log --pretty=format:%h

[branch]
  sort = committerdate

[color]
  branch = auto
  diff = auto
  status = auto
  ui = true

[column]
  ui = auto

[commit]
  gpgsign = true
  verbose = true

{{- if eq .chezmoi.os "darwin" }}
[credential]
  helper = osxkeychain
{{- end }}

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  all = true
  prune = true
  pruneTags = true

[grep]
  extendRegexp = true
  lineNumber = true

[help]
  autocorrect = prompt

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = simple
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  autoupdate = true
  enabled = true

[tag]
  gpgSign = true
  sort = version:refname

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

